altair
anyio
attrs
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
coverage
curl_cffi
cycler
fonttools
gitdb
GitPython
greenlet
h11
httptools
idna
iniconfig
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
multitasking
narwhals
numpy
packaging
pandas
peewee
pillow
platformdirs
pluggy
protobuf
pyarrow
pycparser
pydeck
Pygments
pyparsing
pytest
pytest-cov
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
quantstats
referencing
requests
rich
rpds-py
scipy
seaborn
six
smmap
soupsieve
SQLAlchemy
starlette
streamlit
tabulate
tenacity
toml
typing_extensions
tzdata
urllib3
uvicorn
watchdog
websockets
yfinance
plotly
alpaca-trade-api>=3.0.0
joblib
fpdf2
fastapi
wsproto
wsproto
